/*                             */
/*   Cookies SlideOut Section  */
/*                             */

#showblock {
    display: none;
}

#showblock:checked + .slideout { 
    left: 230px;
}

.slideout {
    left: 5px;  
    position: fixed;
    top: 40%; 
    transition: all 300ms ease;
    z-index: 999;
}

.slideout > .slideout_tab { 
    display: block;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border: thin solid var(--midnight_blue);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 100px;
    position: relative;
    left: -20px;
    margin-top: 80px;
    width: 40px;
    box-shadow: 5px 5px 10px var(--shadow);
    z-index: 11;
    overflow:hidden;
}

.slideout > .slideout_tab > .tab_text {
    display: inline-block;
    font-size: .85rem;
    font-weight: bold;
    transform: rotate(90deg);
    white-space: nowrap;
}

.slideout > .slideout_tab > .tab_text > span {
    position: relative;
    top: 10px;
    right: -40px;
    letter-spacing: 1px;
    color: var(--black);
}

.slideout > .slideout_content {
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border-top: thin solid var(--midnight_blue);
    border-right: thin solid var(--midnight_blue);
    border-bottom: thin solid var(--midnight_blue);
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 10px var(--shadow);
    cursor: auto;
    font-size: 1rem;
    left: -240px;
    padding: 5px 10px 15px 0px;
    position: absolute;
    top: -50px;
    width: 210px;
    z-index: 10;
}

.slideout > .slideout_content p{
    margin: 5px;
}

.pst {
    padding-left: 10px;
    font-size: 1.75rem;
    color: var(--midnight_blue);
}

.cookie {
    padding-left: 10px;
}

.cookie_img {
    height: 55px;
    margin-left:20px;
    transform: rotate(30deg);
}

/* Add Shimmer */
.slideout_tab::before {
    content:" ";
    display:block;
    width:200px;
    height:100px;
    background: #CBE5EC50;
    position:absolute;
    top: 0px;
    left:-220px;
    transform:rotate(45deg);
    transition:all .2s ease-in-out;  
    z-index:1;
}

.slideout_tab:hover {
    border-top-color: var(--white) ;
    border-right-color: var(--white) ;
    border-bottom-color: var(--white) ;
    
}

.slideout_tab:hover::before {
    margin-left:700%;
}

@media screen and (max-width: 720px) {
    .slideout > .slideout_tab { 
        margin-top: 40px;
    }
}

/* tab text sizing fix for smaller screens */
@media screen and (max-width: 850px) {
    .slideout > .slideout_tab > .tab_text > span {
        top: 16px;
    }
}