/*                            */
/*           FOOTER           */
/*                            */

footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    background: var(--midnight_blue);
    border-top: 2px solid var(--dark_yellow);
}

.footer_text {
    padding-left: 30px;
    
}

.footer_text a {
    color: var(--white_text);
    transition: all 300ms ease;
    
    &:hover {
        color: var(--white);
    }
}

.footer_text p {
    color: var(--white_text);
}

.footer_images {
    width: 200px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: invert(90%);
}

.footer_image_one {
    height: 80px;
}

.footer_image_two {
    height: 60px;
}