/* App.css */

:root {
    --white: #CBE5EC;
    --green: #18AC58;
    --green_shadow: #6e6e6e;
    --light_yellow: #F6E8B7;
    --dark_yellow: rgb(239, 215, 128);
    --header_gradient: linear-gradient(0deg, rgba(239, 215, 128, 1) 42%, rgba(246, 232, 182, 1) 79%);
    --black: #0D1F2D;
    --font_size_default: 16px;
}

#root {
    overflow-x: hidden;
}

html, body, * {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    font-size: var(--font_size_default);
}

body {
    width: 100%;
    background-color: #CBE5EC;
}

main {
    min-height: 77.5dvh;
}

body::before {
    content : "";
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('https://images.craftsnherbs.com/backgrounds/hex.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -10;
}

/* font sizes */
h1,h2,h3,h4,h5,h6,a,p {
    transition: all 300ms ease;
}

h1 {
    font-size: 2.25rem;
    color: var(--green);
    text-shadow: 0.5px 0.5px 0.5px var(--green_shadow);
}

h2 {
    font-size: 1.75rem;
    color: var(--green);
    text-shadow: 0.5px 0.5px 0.5px var(--green_shadow);
}

h3 {
    font-size: 1.375rem;
    color: var(--green);
}

h4 {
    font-size: 1.125rem;
    color: var(--black);
}

h5 {
    font-size: 1rem;
    color: var(--black);
}

p {
    font-size: 1.1rem;
    color: var(--black);
}



@media (min-width: 1200px) {
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.58rem;
    }
    h4 {
        font-size: 1.295rem;
    }
    p {
        font-size: 1.265rem;
    }
}


.wrapper {
    width: 80%;
    margin: 120px auto 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

@media screen and (max-width: 430px) {
    .wrapper {
        margin: 80px auto 20px;
    }
    main {
        min-height: 82dvh;
    }
}

/*                         */
/*         NAVBAR          */
/*                         */

.navbar {
    position: fixed;
    top: 0px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border-bottom: 5px solid var(--green);
    transition: 0.25s;
    box-shadow: 5px 5px 25px var(--green_shadow);
    z-index: 9999;
}

.page_title {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page_title a {
    font-size: 3.25rem;
    color: var(--green);
    text-shadow: 1px 1px 1px var(--green_shadow);
    text-decoration: none;
    transition: all 300ms ease;
}

.page_title img {
    height: 85px;
    transition: all 300ms ease;
}

.navbar_menu {
    margin: 0 0px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: all 300ms ease;
}

.navbar_menu, .drop {
    list-style: none;
}

.navbar_menu > li {
    margin: 0 2px;
    text-align: center;
}

.navbar_menu a, .drop li a {
    text-decoration: none;
    color: var(--green);
    font-weight: 600;
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 10px 2px;
    font-size: 1rem;
    width: 124px;
    transition: background-color 0.2s ease-in-out;
    font-family: "Raleway", sans-serif;
    pointer-events: none;
    z-index: 10;
}

.navbar_menu > li a:hover {
    background-color: var(--green_shadow);
    border-left: 1px solid var(--green);
}

.drop {
    display: none;
}

.drop li {
    opacity: 0;
    transform-origin: top center;
    width: 125px;
    background-color: var(--dark_yellow);
    box-shadow: 5px 5px 10px var(--green_shadow);
}

.drop li a {
    pointer-events: none;
    width: 121px;
    padding: 10px 2px;
    text-align: center;
    background: var(--dark_yellow);
    background: var(--header_gradient);
}

.drop li a:hover {
    background: var(--green_shadow);
}

.navbar_menu:hover .drop {
    display: block;
}

/* Drop down for 4 menu items */
.navbar_menu li:hover .menu li:first-of-type {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.1s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu li:nth-of-type(2) {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.2s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu li:nth-of-type(3) {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.3s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu li:last-of-type {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.4s;
    border: 2px solid var(--green);
}

/* Drop down for 3 menu items */
.navbar_menu li:hover .menu2 li:first-of-type {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.1s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu2 li:nth-of-type(2) {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.2s;
    border: 2px solid var(--green);
}

.navbar_menu li:hover .menu2 li:last-of-type {
    animation: menu_inner 0.1s ease-in-out forwards;
    animation-delay: 0.3s;
    border: 2px solid var(--green);
}

.navbar_menu:hover > li > a, .navbar_menu:hover .drop li a {
    pointer-events: auto;
}

@keyframes menu_inner {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        height: 95px;
    }
    .page_title a {
        font-size: 1.75rem;
    }
    .page_title img {
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        height: 95px;
    }
    .page_title a {
        font-size: 1.65rem;
    }
    .navbar_menu {
        justify-content: center;
    }
    .page_title img {
        height: 60px;
    }
}

@media screen and (max-width: 430px) {
    .navbar {
        height: 85px;
    }
    .page_title img {
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .navbar {
        height: 85px;
    }
    .page_title img {
        height: 50px;
    }
    .navbar_menu a {
        width: 104px;
        font-size: 0.9rem;
    }
    .drop li {
        width: 104px;
    }
    .drop li a {
        width: 100px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 335px) {
    .navbar {
        height: 65px;
    }
    /* .page_title a {
        font-size: 0.9rem;
    } */
    .page_title img {
        height: 35px;
    }
    .navbar_menu a {
        font-size: 0.75rem;
    }
    .drop li {
        width: 84px;
    }
    .drop li a {
        font-size: 0.75rem;
    }
}

/*                        */
/*       END NAVBAR       */
/*                        */


/*                        */
/*      PAGE LAYOUT       */
/*                        */

.large_box {
    min-width: 300px;
    margin: 20px 5px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.large_box h1, .large_box h2, .large_box h3 {
    text-align:center;
    margin: 5px 0;
}

.large_box h3 {
    color: var(--black);
}

.large_box h4 {
    text-align: start;
    text-align:center;
    margin: 5px 0;
}

.large_box p {
    margin: 10px;
    text-align:start;
}

.large_box p span {
    font-size: 200%;
    font-weight: 700;
    line-height: 80%;
    text-shadow:  0.5px 0.5px 0.5px var(--green_shadow);
}

.split_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box_left_text, .box_right_text {
    width: 45%;
    min-width: 300px;
    margin: 5px 5px 20px 5px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.box_left_text ul, .box_right_text ul {
    list-style-type:circle;
    width: 75%;
    min-width: 240px;
    margin: 0 auto;
}

.box_left_img, .box_right_img {
    width: 45%;
    min-width: 290px;
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.box_left_img img, .box_right_img img {
    width: 90%;
    min-width: 290px;
    border: 3px solid var(--green);
    box-shadow:  5px 5px 10px var(--green_shadow);
    border-radius: 20px;
}

@media (max-width: 1065px) {
    .box_left_text, .box_right_text, .box_left_img, .box_right_img {
        margin: 20px auto;
        width: 100%;
    }
}

.flip {
    flex-wrap: wrap-reverse;
}

.box_left_text h2, .box_right_text h2, .box_left_text h3, .box_right_text h3  {
    text-align: center;
}

.box_left_text h4, .box_right_text h4 {
    text-align: start;
}

.box_left_text p, .box_right_text p {
    margin: 10px;
    text-align:start;
}

.box_left_text p span, .box_right_text p span {
        font-size: 200%;
        font-weight: 700;
        line-height: 80%;
        text-shadow:  0.5px 0.5px 0.5px var(--green_shadow);
}

.add_background {
    width: 45%;
    min-width: 290px;
    background-color: var(--light_yellow);
    border: 5px solid var(--green);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--green_shadow);
}
/*                             */
/*      END PAGE LAYOUT        */
/*                             */


/*                             */
/*   Cookies SlideOut Section  */
/*                             */

#showblock {
    display: none;
}

#showblock:checked + .slideout { 
    left: 230px;
}

.slideout {
    font-family: Roboto, sans-serif;
    left: 5px;  
    position: fixed;
    top: 60%; 
    transition: 0.250s; 
}

.slideout > .slideout_tab { 
    display: block;
    background-color: var(--dark_yellow);
    border: 3px solid var(--green);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 100px;
    margin-left: -30px; 
    position: relative;
    left:-5px;
    margin-top: 90px;
    width: 60px;
}

.slideout > .slideout_tab > .tab_text {
    display: inline-block;
    font-family: Roboto, sans-serif;
    color: var(--black);
    font-size: .85rem;
    font-weight: bold;
    margin-top: 42px;
    transform: rotate(90deg);
    white-space: nowrap;
}

.slideout > .slideout_tab > .tab_text > span {
    letter-spacing: 1px;
    color: var(--black);
}

.slideout > .slideout_content {
    background-color: var(--dark_yellow);
    border-top: 3px solid var(--green);
    border-right: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-radius: 0 5px 5px 0;
    cursor: auto;
    font-size: 1rem;
    left: -234px;
    padding: 5px 10px 15px 0px;
    position: absolute;
    top: -50px;
    width: 210px;
    z-index: 100;
}

.slideout > .slideout_content p{
    margin: 5px;
}

.pst {
    padding-left: 10px;
    font-size: 1.75rem;
    color: var(--green);
}

.cookie {
    padding-left: 10px;
}

.cookie_img {
    height: 55px;
    margin-left:20px;
    transform: rotate(30deg);
}

/*                              */
/*      End Cookie Section      */
/*                              */


/*                              */
/*         CAREERS PAGE         */
/*                              */

#career_link {
    text-decoration: underline;
    color: var(--green);
}

#career_link:hover {
    color: var(--green_shadow);
    text-shadow: 0.5px 0.5px 1px var(--green);
}

/*                              */
/*       END CAREERS PAGE       */
/*                              */


/*                             */
/*          Courses            */
/*                             */

#intern  {
    min-width: 300px;
    aspect-ratio: 2/1;
    margin: 0 auto;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border: 3px solid var(--green);
    border-radius: 10px;
    box-shadow:  5px 5px 10px var(--green_shadow);
}

.project_icon_container{
    width: 47%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course_icons {
    width: 47%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.project_icons{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

#projects {
    position: relative;
    height: 90px;
    width: 90px;
    border: 3px solid var(--green);
    border-radius: 10px;
    box-shadow:  5px 5px 10px  var(--green_shadow);
    transition: all 300ms ease;
    
    &:hover {
        transform: scale(1.3, 1.3) translateY(-1px);
        box-shadow: 5px 5px 15px var(--green_shadow);
        z-index: 100;
    }
}

#css, #html5, #javascript, #bootstrap, #sass, #postgres, #python, #django,#flask,#reactjs,#mysql,#expressjs, #nodejs {
    position: relative;
    height:80px;
    padding: 5px;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border: 3px solid var(--green);
    border-radius: 10px;
    box-shadow:  5px 5px 10px var(--green_shadow);
    transition: all 300ms ease;

    &:hover {
        transform: scale(1.3, 1.3) translateY(-1px);
        box-shadow: 5px 5px 15px var(--green_shadow);
        z-index: 100;
    }
}

#css, #html5, #javascript, #bootstrap, #sass,#reactjs,#mysql  {
    width: 70px;
}

#postgres, #python, #django {
    width: 80px;
}

#flask {
    width: 100px;
}

#expressjs, #nodejs {
    width: 100px;
}

@media screen and (max-width: 1250px) {
    #css, #html5, #javascript, #bootstrap, #sass, #postgres, #python, #django,#flask,#reactjs,#mysql,#expressjs, #nodejs {
        height: 70px;
        padding: 2px;
    }
    #css, #html5, #javascript, #bootstrap, #sass,#reactjs,#mysql  {
        width: 60px;
    }
    
    #postgres, #python, #django {
        width: 70px;
    }
    
    #flask {
        width: 90px;
    }
    
    #expressjs, #nodejs {
        width: 90px;
    }
}

@media screen and (max-width: 1064px) {
    .course_icons, .project_icon_container {
        width: 100%;
    }
    #css, #html5, #javascript, #bootstrap, #sass, #postgres, #python, #django,#flask,#reactjs,#mysql,#expressjs, #nodejs {
        height: 80px;
        padding: 5px;
    }
    #css, #html5, #javascript, #bootstrap, #sass,#reactjs,#mysql  {
        width: 70px;
    }
    
    #postgres, #python, #django {
        width: 80px;
    }
    
    #flask {
        width: 100px;
    }
    
    #expressjs, #nodejs {
        width: 100px;
    }
}

@media screen and (max-width: 650px) {
    #css, #html5, #javascript, #bootstrap, #sass, #postgres, #python, #django,#flask,#reactjs,#mysql,#expressjs, #nodejs {
        height: 70px;
        padding: 2px;
    }
    #css, #html5, #javascript, #bootstrap, #sass,#reactjs,#mysql  {
        width: 60px;
    }
    
    #postgres, #python, #django {
        width: 70px;
    }
    
    #flask, #expressjs, #nodejs {
        width: 90px;
    }
    #projects {
        height: 90px;
        width: 90px
    }
}

@media screen and (max-width: 450px) {
    #css, #html5, #javascript, #bootstrap, #sass, #postgres, #python, #django,#flask,#reactjs,#mysql,#expressjs, #nodejs {
        height: 55px;
        padding: 2px;
    }
    #css, #html5, #javascript, #bootstrap, #sass,#reactjs,#mysql  {
        width: 45px;
    }
    
    #postgres, #python, #django {
        width: 55px;
    }
    
    #flask, #expressjs, #nodejs {
        width: 75px;
    }
    #projects {
        height: 70px;
        width: 70px
    }
}

/*                             */
/*      END Courses            */
/*                             */


/*                             */
/*         Tutoring            */
/*                             */

.card_container {
    max-width: 1300px;
    min-width: 300px;
    margin: 0px auto 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_one {
    position: relative;
    width: 250px;
    min-height: 245px;
    margin: 15px auto;
    padding: 5px;
    border: 3px solid var(--green);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    box-shadow: 5px 5px 10px var(--green_shadow);
    transition: all 300ms ease;

    &:hover, &:focus-within {
        transform: scale(1.1);
        box-shadow: 5px 5px 15px var(--green_shadow);
        z-index: 100;
    }
}

.card_one h2 {
    text-align: center;
    margin: 5px 0;
    color: var(--green);
}

.card_one img {
    height: 100px;
    width: 100px;
    background-color: var(--green_shadow);
    border: 3px solid var(--green);
    border-radius: 50%;
    margin-top: 10px;
}

.card_one li {
    width: 60px;
    list-style-type: none;
    text-align: center;
}

/*                             */
/*      END Tutoring           */
/*                             */


/*                             */
/*      Pricing Page           */
/*                             */

.pricing_wrapper {
    display: grid;
    place-items: center;
}

.pricing_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 60px;
    width: 80vw;
    padding-top: 32px;
    padding-bottom: 32px;

    > * {
        flex-grow: 1;
        flex-basis: 0;
    }

    .pricing_card {
        min-width: 15rem;
        max-width: calc(12.5rem + 13vw);
        background-color: var(--dark_yellow);
        border: 3px solid var(--green);
        border-radius: 10px;
        box-shadow:  5px 5px 10px var(--green_shadow);
        position: relative;
        transition: all 300ms ease;

        .pricing_ribbon {
            position: absolute;
            top: 10px;
            right: 24px;
            border-radius: 30px;
            border-bottom-left-radius: 0;
            height: 2.5rem;
            width: 100%;
            background-color: var(--dark_yellow);
            box-shadow:  5px 5px 15px  var(--green_shadow);

            &::before, &::after {
                content: '';
                position: absolute;
                top: 2.5rem;
                width: 24px;
            }

            &::before {
                border-bottom-left-radius: 30px;
                border-top-left-radius: 30px;
                background-color: var(--green_shadow);
                height: 1.25rem;
                z-index: 1;
            }

            &::after {
                height: 1rem;
                background-color: var(--dark_yellow);
            }

            img {
                position: relative;
                top: -60px;
                left: 80%;
                width: 80px;
                height: 80px;
                background-color: var(--white);
                border-radius: 50%;
                border: 2px solid #A70000;
            }

            .pricing_ribbon-text {
                position: absolute;
                top: 50%;
                left: 5px;
				width: 100%;
                transform: translatey(-50%);
                font-size: 1.275rem;
                font-weight: 900;
                color: var(--green);
				text-align: center
            }
        }

        img {
            display: block;
            max-width: 100%;
            aspect-ratio: 16/9;
            height: auto;
            object-fit: cover;
            border-top-left-radius: 8px;;
            border-top-right-radius: 8px;
        }

        .pricing_card-info {
            color: #0D1F2D;
            padding: 5px;

            .pricing_card-text {
                line-height: 1.3;
                text-align: start;
                margin: 5px 5px 8px 5px;
            }

            a {
                text-decoration: none;
                color: var(--green);
                font-weight: 800;
                outline: none;
                display: block;
                margin: 10px auto 8px;
                width: fit-content;
                text-align: center;
                border: thin solid var(--green);
                box-shadow: 5px 5px 10px var(--green_shadow);
                padding: 8px 16px;
                border-radius: 4px;
                transition: background-color 300ms ease, color 300ms ease;
                
                &:hover, &:focus {
                    background-color: var(--green);
                    color: var(--light_yellow);
                    text-shadow: 0.5px 0.5px 0.5px var(--green_shadow);
                    box-shadow: 5px 5px 15px var(--green_shadow);
                    border: thin solid var(--light_yellow);
                }
            }
        }

        &:hover, &:focus-within {
            transform: scale(1.05);
            box-shadow: 5px 5px 15px var(--green_shadow);
        }
    }
}

/*                              */
/*     END PRICING PAGES        */
/*                              */


/*                              */
/*          CONTACT US          */
/*                              */

.contact_container {
    padding: 5px 20px;
    margin: 40px 0 30px;
    width: 45%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light_yellow);
    border: 4px solid var(--green);
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--green_shadow);
}

.contact_container h2 {
    color: var(--green);
    margin-top: 25px;
}

.contacts {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts img {
    width: 50px;
    border-radius: 5px;
}

.contacts a, .phone_number {
    position: relative;
    margin:0;
    padding: 0;
    font-size: 1.125rem;
    text-align: end;
    color: var(--green);
    font-weight: 600;
    transition: all 300ms ease;

    &:hover {
        color: var(--green_shadow);
        text-shadow: 0.5px 0.5px 1px var(--green);
        transform: scale(1.05);
    }
}

@media screen and (max-width: 650px) {
    .contact_container {
        padding: 0px;
    }
    .contacts a, .phone_number {
        &:hover {
            transform: scale(1);
        }
    }
}

@media screen and (max-width: 450px) {
    .contact_container {
        width: 290px;
    }
}

/*                              */
/*       END CONTACT US         */
/*                              */


/*                            */
/*           FOOTER           */
/*                            */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: var(--dark_yellow);
    background: var(--header_gradient);
    border-top: 5px solid var(--green);
}



.footer_text {
    padding-left: 30px;
    
    a {
        color: var(--green);
        transition: all 300ms ease;
        
        &:hover {
            color: var(--green_shadow);
            text-shadow: 0.5px 0.5px 1px var(--green);
        }
    }
}

.footer_images {
    width: 200px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_image_one {
    height: 80px;
}

.footer_image_two {
    height: 60px;
}

/*                            */
/*       END FOOTER           */
/*                            */


/*                         */
/*    Honey Comb Tiles     */
/*                         */

.honeycomb_wrapper {
    width: 100%;
}

.bumble_bee_image {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -5;
    width: 100%;
    max-width: 1065px;
    opacity: .7;
    animation-name: beeFade;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    filter: drop-shadow(30px 10px 4px rgba(128, 128, 128, 0.7));
}

@keyframes beeFade {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    25% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
    75% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.honeycomb_image {
	width: 100%;
    height: 100%;
	display: block;
    background-color: var(--black);
}

.honeycomb_container {
	padding: 2rem 0 2rem;
    width: 37.5rem;
}

.honeycomb_container::after {
	content: "";
	display: table;
	clear: both;
}

.placeholder {
    opacity: 0 !important;
}

.item {
	width: 7.5rem;
	height: 7.5rem;
	position: relative;
	display: inline-block;
	margin: 0.375rem;
    animation: 1s reveal;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: scale(0) translateX(1000px) translateY(-250px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateX(0) translateY(0);
    }
}

.item::before {
	content: "";
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: var(--dark_yellow);
	clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
	transform: scale(1.077);
	transition: transform 0.3s;
}

.item:hover::before {
	transform: scale(1.154);
    background-color: goldenrod;

}

.item a {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-size: cover;
	background-position: center;
	clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}

@media (min-width: 17rem) {
	.item {
		display: block;
		float: left;
		margin: 0;
		margin-bottom: -1.05rem;
	}
}

@media (max-width: 25.999rem) {
    .item {
        animation: none;
    }
}

@media (max-width: 31.999rem) {
    .honeycomb_container {
		max-width: 17rem;
	}
    .item {
        width: 3.25rem;
        height: 3.25rem;
        margin-bottom: -.60rem;
    }
    .item:nth-child(9n+6) {
        margin-left: 1.655rem;
    }
}

@media (min-width: 32rem) and (max-width: 41.999rem) {
	.honeycomb_container {
		max-width: 22.5rem;
	}
	.item:nth-child(5n+4) {
		margin-left: 3.75rem;
	}
}

@media (min-width: 42rem) and (max-width: 53.999rem) {
	.honeycomb_container {
		max-width: 30rem;
	}
	.item:nth-child(7n+5) {
		margin-left: 3.75rem;
	}
}

@media (min-width: 54rem) {
	.honeycomb_container {
		max-width: 37.5rem;
	}
	.item:nth-child(9n+6) {
		margin-left: 3.75rem;
	}
}

/* IE resets - because of clip-path no support */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS */
	.honeycomb_container {
		padding: 0.9375rem 0;
	}
	.item {
		display: inline-block;
		float: none;
		margin: 0.6375rem !important;
	}
}

@supports (-ms-ime-align: auto) {
	/* IE Edge 12+ */
	.honeycomb_container {
		padding: 0.9375rem 0;
	}
	.item {
		display: inline-block;
		float: none;
		margin: 0.6375rem !important;
	}
}

/*                            */
/*        ERROR 404           */
/*                            */

.error_404 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.error_404 h2 {
    color: var(--green);
    margin-top: 10px;
}

.error_image {
    margin: 10px auto 20px;
    width: 63%;
    min-width: 290px;
    border: 3px solid var(--green);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--green_shadow);
}

/*                             */
/*     BUTTON COMPONENT        */
/*                             */

.button_link {
    position: relative;
    font-size: 1.25rem;
    font-weight: 600;
    min-width: 250px;
    margin: 10px auto;
    padding: 5px 8px;
    background-color: var(--dark_yellow);
    border: 2px solid var(--green);
    border-radius: 10px;
    color: var(--green);
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--green_shadow);
    transition: all 300ms ease;
    
    &:hover {
        background-color: var(--green_shadow);
        border: 2px solid var(--dark_yellow);
        color: var(--dark_yellow);
        text-shadow: .5px .5px .5px var(--green);
        box-shadow: 5px 5px 15px var(--green_shadow);
        transform: scale(1.1);
    }
    
    &:active {
        top: 3px
    }
}

/*                             */
/*     BUTTON COMPONENT        */
/*                             */


/*                             */
/*        CHAT COMPONENT       */
/*                             */

.admissions_chat {
    height: 600px;
    width: 50dvw;
    min-width: 300px;
    border: 3px solid var(--green);
    box-shadow: 5px 5px 10px var(--green_shadow);
}

/*                             */
/*     END CHAT COMPONENT      */
/*                             */


/*                         */
/*        STAFF BIOS       */
/*                         */

.background {
    width: 100vw;
}

.cardContent {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1000px;
}

.employeeCard {
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    margin: 1rem;
    position: relative;
    filter: drop-shadow(8px 8px 8px black);
}
@media screen and (max-width: 800px) {
    .employeeCard {
    width: calc(50% - 2rem);
    }
}
@media screen and (max-width: 500px) {
    .employeeCard {
    width: 100%;
    }
}

.cardFront,
.cardBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F6E8B7;
    border: 2px solid #18AC58;
    border-radius: 4px;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
    padding: 5px;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    background: linear-gradient(0deg, rgba(239,215,128,1) 42%, rgba(246,232,182,1) 79%);
}

.employeeCard:hover .cardFront {
    transform: rotateY(180deg);
}

.cardBack {
    transform: rotateY(-180deg);
}

.employeeCard:hover .cardBack {
    transform: rotateY(0deg);
}

/*                         */
/*    END STAFF BIOS       */
/*                         */